InteractionMenu {
    position: absolute;
    width: 100%;
    height: 100%;

    .interaction-menu-container {
        flex-direction: column;
        background-color: rgba(4, 42, 71, 1);
        position: absolute;
        opacity: 0;

        &.show {
            opacity: 1;
        }

        &:hover {
            background-color: darkcyan;
        }
    }

    .interactee-label {
        color: white;
        background-color: rgba(16, 23, 26, 1);
        font-size: 32px;
        text-stroke: 3px black;
        padding: 6px;
    }

    .interaction-entry-container {
        flex-direction: column;
        padding: 6px;
    }

    .interaction-entry {
        font-size: 32px;
        color: white;

        &:hover {
            color: yellow;
        }
    }
}
